.column{
    width: 20vw;
    height: 20rem;
    
    background-color: var(--textColor);

    transition: width 0.5s;
    
}

.selected{
    background-color: var(--orange);
    width: 40vw;
}

.text{
    overflow: hidden;
}

.text h2{
    position: relative;
    top: 0rem;
    transition: 0.5s;
}
.text p{
    opacity: 1;
    transition: 0.5s;
}

.text .showTitle{
    position: relative;
    top: 2rem;
}

.text .showDescription{
    position: relative;
    opacity: 0;
}

