.scroll-wrapper{
    overflow-x: hidden;
    
}



section {
    height: 100vh;
    overflow: hidden;
}

section .scroll-container {
    height: 100vh;
    width: 300vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

section .scroll-container .slide {
    height: 100vh;
    min-width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space{
    min-width: 50rem;
}